.logo-icon {
  height: 52px;
  width: 52px;
  position: relative;
}
.side-bar-content,
.side-bar-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-bar-content {
  flex-direction: row;
  padding: 0 2px;
}
.side-bar-content-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 62px;
}
.fiheadphones-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headphone-icon,
.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logout {
  align-self: stretch;
  border-radius: 16px;
  background-color: rgba(94, 99, 102, 0.1);
  align-items: flex-start;
  padding: 11px 16px;
}
.figift-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.banner,
.container,
.gift-icon,
.user {
  display: flex;
  justify-content: flex-start;
}
.gift-icon {
  flex-direction: row;
  align-items: flex-end;
}
.banner,
.container,
.user {
  align-items: flex-start;
}
.container {
  flex-direction: row;
}
.banner,
.user {
  align-self: stretch;
}
.banner {
  border-radius: 16px;
  background-color: rgba(255, 204, 145, 0.2);
  overflow: hidden;
  flex-direction: row;
  padding: 16px;
}
.user {
  flex-direction: column;
  gap: 14px;
}
.iconlybulklogout {
  height: 24px;
  width: 24px;
  position: relative;
}
.logout-icon,
.logout1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logout1 {
  border-radius: 16px;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  padding: 11px;
}
.bottom {
  flex-direction: row;
}
.bottom,
.bottom-bar,
.sidebar,
.user-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom-bar {
  flex-direction: row;
  padding: 0 5px;
}
.sidebar,
.user-panel {
  flex-direction: column;
}
.user-panel {
  align-self: stretch;
  gap: 49px;
}
.sidebar {
  width: 88px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  padding: 14px 16px 37px;
  box-sizing: border-box;
  gap: 252px;
}
.orders-summary {
  position: relative;
  font-weight: 500;
}
.right {
  height: 36px;
  width: 200px;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter {
  height: 16px;
  width: 82px;
  font-family: Inter;
  font-size: 12px;
  color: #bec0ca;
}
.summaryheading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.all-orders,
.empty-count {
  position: relative;
  display: inline-block;
  min-width: 69px;
}
.empty-count {
  font-weight: 500;
  min-width: 39px;
}
.all-count,
.empty-count1 {
  display: flex;
  align-items: center;
}
.empty-count1 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  opacity: 0;
}
.all-count {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.order-types {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 39px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.empty-count2,
.pending {
  position: relative;
  display: inline-block;
}
.pending {
  text-decoration: none;
  color: inherit;
  min-width: 57px;
}
.empty-count2 {
  font-weight: 500;
  min-width: 13px;
}
.empty-count3,
.pending-count {
  display: flex;
  align-items: center;
}
.empty-count3 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  opacity: 0;
}
.pending-count {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.pending-orders {
  flex: 0.7052;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 65px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.completed,
.empty-count4 {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.empty-count4 {
  font-weight: 500;
  min-width: 37px;
}
.empty-count5 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  display: flex;
  align-items: center;
  opacity: 0;
}
.completed-count {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.completed-orders,
.summary-values {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.completed-orders {
  flex: 0.9773;
  flex-direction: column;
  padding: 0 41px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.summary-values {
  align-self: stretch;
  flex-direction: row;
  gap: 32px;
}
.dashboard-summary-card,
.summarycontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.summarycontainer {
  align-self: stretch;
  justify-content: space-between;
  min-height: 123px;
}
.dashboard-summary-card {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  justify-content: flex-start;
  padding: 11px 15px;
}
.icon1 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter1 {
  height: 16px;
  width: 82px;
  font-family: Inter;
  font-size: 12px;
  color: #bec0ca;
}
.summaryheading1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.all-orders1 {
  min-width: 65px;
}
.all-orders1,
.div,
.div1 {
  position: relative;
  display: inline-block;
}
.div {
  font-weight: 500;
  min-width: 25px;
}
.div1 {
  font-size: 12px;
  font-family: Inter;
  color: #cc5f5f;
  min-width: 31px;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.all-orders-parent {
  flex: 0.9057;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 60px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.div2,
.pending1 {
  position: relative;
  display: inline-block;
}
.pending1 {
  text-decoration: none;
  color: inherit;
  min-width: 65px;
}
.div2 {
  font-weight: 500;
  min-width: 25px;
}
.div3,
.group {
  display: flex;
  align-items: center;
}
.div3 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  opacity: 0;
}
.group {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.pending-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 53px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.completed1,
.div4 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.div4 {
  font-weight: 500;
  min-width: 13px;
}
.div5,
.frame-div {
  display: flex;
  align-items: center;
}
.div5 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  opacity: 0;
}
.frame-div {
  width: 63px;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.completed-parent,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.completed-parent {
  flex: 0.8922;
  flex-direction: column;
  padding: 0 61px 0 0;
  box-sizing: border-box;
  gap: 8px;
  min-width: 95px;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  gap: 32px;
}
.dashboard-summary-card1,
.summarycontainer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.summarycontainer1 {
  align-self: stretch;
  justify-content: space-between;
  min-height: 123px;
}
.dashboard-summary-card1 {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  justify-content: flex-start;
  padding: 11px 15px;
}
.icon2 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter2 {
  height: 16px;
  width: 82px;
  font-family: Inter;
  font-size: 12px;
  color: #bec0ca;
}
.summaryheading2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.customers {
  min-width: 110px;
}
.customers,
.empty-count6,
.empty-count7 {
  position: relative;
  display: inline-block;
}
.empty-count6 {
  font-weight: 500;
  min-width: 41px;
}
.empty-count7 {
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  min-width: 44px;
}
.customer-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.customer-types {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
  gap: 8px;
}
.active,
.div6 {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.div6 {
  font-weight: 500;
  min-width: 25px;
}
.div7,
.parent1 {
  display: flex;
  align-items: center;
}
.div7 {
  height: 15px;
  flex: 1;
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #519c66;
  opacity: 0;
}
.parent1 {
  width: 75px;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 20px;
  color: #45464e;
  font-family: Poppins;
}
.customer-types1 {
  flex: 0.7281;
  flex-direction: column;
  padding: 0 47px 0 0;
  gap: 8px;
  color: #8b8d97;
}
.customer-data,
.customer-types1,
.dashboard-summary-card2,
.summarycontainer2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-data {
  align-self: stretch;
  flex-direction: row;
  gap: 32px;
}
.dashboard-summary-card2,
.summarycontainer2 {
  flex-direction: column;
}
.summarycontainer2 {
  align-self: stretch;
  gap: 32px;
}
.dashboard-summary-card2 {
  width: 322px;
  border-radius: 12px;
  background-color: #fff;
  flex-shrink: 0;
  padding: 11px 15px;
  box-sizing: border-box;
  color: #cc5f5f;
}
.summaryrow {
  width: 1311px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
  max-width: 100%;
  font-size: 14px;
  color: #8b8d97;
}
.customer-orders {
  position: relative;
  font-weight: 500;
}
.left {
  border: 0;
  background-color: transparent;
  height: 29px;
  width: 176px;
  font-family: Inter;
  font-size: 12px;
  color: #abafb1;
}
.right1 {
  height: 29px;
  flex: 1;
  min-width: 221px;
  max-width: 100%;
}
.table-controls {
  width: 523px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.table-container,
.table-controls,
.table-header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.table-header {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.table-container {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 20px;
  box-sizing: border-box;
  font-size: 16px;
}
.controls {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.customer-name {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.vuesaxoutlinesort-icon {
  width: 16px;
  height: 16px;
  position: relative;
}
.name-sort-icon {
  flex-direction: column;
  padding: 1px 0 0;
}
.customer-column,
.customer-name-head,
.name-sort,
.name-sort-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-sort {
  flex-direction: row;
  gap: 8px;
}
.customer-column,
.customer-name-head {
  flex-direction: column;
  padding: 3.5px 0 0;
}
.customer-column {
  flex-direction: row;
  padding: 0 3px 0 0;
  gap: 22px;
}
.order-date {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.vuesaxoutlinesort-icon1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.sort-icon {
  flex-direction: column;
  padding: 1px 0 0;
}
.column-head,
.sort-head,
.sort-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sort-head {
  flex-direction: row;
  gap: 4px;
}
.column-head {
  flex-direction: column;
  padding: 3px 34px 0 0;
}
.order-type {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.vuesaxoutlinesort-icon2 {
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesaxoutlinesort-wrapper {
  flex-direction: column;
  padding: 1px 0 0;
}
.column-head1,
.order-type-parent,
.vuesaxoutlinesort-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-type-parent {
  flex-direction: row;
  gap: 5px;
}
.column-head1 {
  flex-direction: column;
  padding: 3px 0 0;
}
.tracking-id {
  position: relative;
  display: inline-block;
  min-width: 76px;
}
.vuesaxoutlinesort-icon3 {
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesaxoutlinesort-container {
  flex-direction: column;
  padding: 1px 0 0;
}
.column-head2,
.tracking-id-parent,
.vuesaxoutlinesort-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tracking-id-parent {
  flex-direction: row;
  gap: 7px;
}
.column-head2 {
  flex-direction: column;
  padding: 3px 4px 0 0;
}
.order-total {
  position: relative;
  display: inline-block;
  min-width: 78px;
}
.vuesaxoutlinesort-icon4 {
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesaxoutlinesort-frame {
  flex-direction: column;
  padding: 1px 0 0;
}
.column-head3,
.order-total-parent,
.vuesaxoutlinesort-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-total-parent {
  flex-direction: row;
  gap: 5px;
}
.column-head3 {
  flex-direction: column;
  padding: 3px 5px 0 0;
}
.action {
  position: relative;
  display: inline-block;
  min-width: 45px;
}
.vuesaxoutlinesort-icon5 {
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesaxoutlinesort-wrapper1 {
  flex-direction: column;
  padding: 1px 0 0;
}
.action-parent,
.column-head4,
.vuesaxoutlinesort-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.action-parent {
  flex-direction: row;
  gap: 6px;
}
.column-head4 {
  flex-direction: column;
  padding: 3px 0 0;
}
.status {
  position: relative;
  display: inline-block;
  min-width: 45px;
}
.vuesaxoutlinesort-icon6 {
  width: 16px;
  height: 16px;
  position: relative;
}
.vuesaxoutlinesort-wrapper2 {
  flex-direction: column;
  padding: 1px 0 0;
}
.column-head5,
.status-parent,
.tableheader,
.vuesaxoutlinesort-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.status-parent {
  flex-direction: row;
  gap: 6px;
}
.column-head5,
.tableheader {
  flex-direction: column;
  padding: 3px 0 0;
}
.tableheader {
  align-self: stretch;
  border-top: 1px solid #e1e2e9;
  border-bottom: 1px solid #e1e2e9;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 72px 12px 0;
  gap: 20px;
}
.janet-adebayo {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.aug-2022- {
  position: relative;
  white-space: nowrap;
}
.row-content {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div8,
.fjr73 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div8 {
  min-width: 81px;
  white-space: nowrap;
}
.tracking {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.status-column {
  margin: 0;
  height: 24px;
  width: 40px;
}
.home-delivery {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed2 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon {
  min-height: 16px;
}
.fichevron-down-icon,
.ucopy-alt-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.copy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed3 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status-action,
.status1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.status1 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  justify-content: flex-start;
  padding: 4px 10px;
}
.status-action {
  width: 504px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #519c66;
}
.status-icon-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.action1,
.colcontents {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.action1 {
  width: 1087px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents {
  width: 1209px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.samuel-johnson {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.aug-2022-1 {
  position: relative;
  white-space: nowrap;
}
.samuel-johnson-parent {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div9,
.fjr731 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div9 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-input {
  margin: 0;
  height: 24px;
  width: 40px;
}
.home-delivery1 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.home-delivery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.in-progress {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.fichevron-down-icon1 {
  min-height: 16px;
}
.fichevron-down-icon1,
.ucopy-alt-icon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.in-progress1 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.status2 {
  border-radius: 8px;
  background-color: rgba(85, 112, 241, 0.16);
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-container,
.icon-wrapper,
.status2 {
  display: flex;
  align-items: flex-start;
}
.frame-container {
  width: 507px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #5570f1;
}
.icon-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents1,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 1090px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents1 {
  width: 1212px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.francis-doe {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.aug-2022-2 {
  position: relative;
  white-space: nowrap;
}
.francis-doe-parent {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div10,
.fjr732 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div10 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-group {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.controls1 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.pick-up {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.pick-up-wrapper {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 20px 0 0;
  box-sizing: border-box;
}
.pending2 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.fichevron-down-icon2 {
  min-height: 16px;
}
.fichevron-down-icon2,
.ucopy-alt-icon2 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.pending3 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.status3 {
  border-radius: 8px;
  background-color: #fff2e2;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 11px;
}
.frame-parent1,
.icon-container,
.status3 {
  display: flex;
  align-items: flex-start;
}
.frame-parent1 {
  width: 488px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #1c1d22;
}
.icon-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents2,
.controls-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.controls-parent {
  width: 1071px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents2 {
  width: 1193px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.christian-dior {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.aug-2022-3 {
  position: relative;
  white-space: nowrap;
}
.christian-dior-parent {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div11,
.fjr733 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div11 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-container {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.controls2 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.pick-up1 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.pick-up-container {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 20px 0 0;
  box-sizing: border-box;
}
.completed4 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon3 {
  min-height: 16px;
}
.fichevron-down-icon3,
.ucopy-alt-icon3 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed5 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status4 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-parent2,
.icon-frame,
.status4 {
  display: flex;
  align-items: flex-start;
}
.frame-parent2 {
  width: 504px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #519c66;
}
.icon-frame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents3,
.controls-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.controls-group {
  width: 1087px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents3 {
  width: 1209px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.christian-dior1 {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.aug-2022-4 {
  position: relative;
  white-space: nowrap;
}
.christian-dior-group {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div12,
.fjr734 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div12 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent1 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.controls3 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.pick-up2 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.pick-up-frame {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 20px 0 0;
  box-sizing: border-box;
}
.completed6 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon4 {
  min-height: 16px;
}
.fichevron-down-icon4,
.ucopy-alt-icon4 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed7 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status5 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-parent3,
.icon-wrapper1,
.status5 {
  display: flex;
  align-items: flex-start;
}
.frame-parent3 {
  width: 504px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #519c66;
}
.icon-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents4,
.controls-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.controls-container {
  width: 1087px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents4 {
  width: 1209px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.janet-adebayo1 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.aug-2022-5 {
  position: relative;
  white-space: nowrap;
}
.janet-adebayo-parent {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div13,
.fjr735 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div13 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent2 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-input1 {
  margin: 0;
  height: 24px;
  width: 40px;
}
.home-delivery2 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.home-delivery-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed8 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon5 {
  min-height: 16px;
}
.fichevron-down-icon5,
.ucopy-alt-icon5 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed9 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status6 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-parent5,
.icon-wrapper2,
.status6 {
  display: flex;
  align-items: flex-start;
}
.frame-parent5 {
  width: 504px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #519c66;
}
.icon-wrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents5,
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  width: 1087px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents5 {
  width: 1209px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.samuel-johnson1 {
  position: relative;
  display: inline-block;
  min-width: 115px;
}
.aug-2022-6 {
  position: relative;
  white-space: nowrap;
}
.samuel-johnson-group {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div14,
.fjr736 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div14 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent3 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.frame-input2 {
  margin: 0;
  height: 24px;
  width: 40px;
}
.home-delivery3 {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.home-delivery-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.in-progress2 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.fichevron-down-icon6 {
  min-height: 16px;
}
.fichevron-down-icon6,
.ucopy-alt-icon6 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.in-progress3 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.status7 {
  border-radius: 8px;
  background-color: rgba(85, 112, 241, 0.16);
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-parent7,
.icon-wrapper3,
.status7 {
  display: flex;
  align-items: flex-start;
}
.frame-parent7 {
  width: 507px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #5570f1;
}
.icon-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents6,
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  width: 1090px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents6 {
  width: 1212px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.francis-doe1 {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.aug-2022-7 {
  position: relative;
  white-space: nowrap;
}
.francis-doe-group {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div15,
.fjr737 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div15 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent4 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.controls4 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.pick-up3 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.pick-up-wrapper1 {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 20px 0 0;
  box-sizing: border-box;
}
.pending4 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.fichevron-down-icon7 {
  min-height: 16px;
}
.fichevron-down-icon7,
.ucopy-alt-icon7 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.pending5 {
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.status8 {
  border-radius: 8px;
  background-color: #fff2e2;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px 11px;
}
.frame-parent8,
.icon-wrapper4,
.status8 {
  display: flex;
  align-items: flex-start;
}
.frame-parent8 {
  width: 488px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #1c1d22;
}
.icon-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents7,
.controls-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.controls-parent1 {
  width: 1071px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  gap: 20px;
}
.colcontents7 {
  width: 1193px;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  box-sizing: border-box;
  position: relative;
  gap: 210px;
}
.christian-dior2 {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.aug-2022-8 {
  position: relative;
  white-space: nowrap;
}
.christian-dior-container {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.div16,
.fjr738 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.div16 {
  min-width: 81px;
  white-space: nowrap;
}
.fjr73-parent5 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.controls5 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.pick-up4 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.pick-up-wrapper2 {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 20px 0 0;
  box-sizing: border-box;
}
.completed10 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon8 {
  min-height: 16px;
}
.fichevron-down-icon8,
.ucopy-alt-icon8 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ucopy-alt-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.completed11 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status9 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 10px;
}
.frame-parent9 {
  width: 504px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -273px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #519c66;
}
.controls-parent2,
.frame-parent9,
.icon-wrapper5 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.controls-parent2 {
  width: 1087px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.colcontents8,
.controls6 {
  position: relative;
  box-sizing: border-box;
}
.colcontents8 {
  width: 1209px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 46px 4px;
  gap: 210px;
  max-width: 100%;
}
.controls6 {
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
  overflow: hidden;
  flex-shrink: 0;
}
.christian-dior3 {
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.christian-dior-wrapper,
.controls-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.controls-parent3 {
  flex-direction: row;
  padding: 0 23px 0 0;
  gap: 22px;
}
.aug-2022-9 {
  position: relative;
  white-space: nowrap;
}
.pick-up5 {
  position: relative;
  display: inline-block;
  min-width: 53px;
}
.aug-2022-1225-am-parent,
.colcontents-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.aug-2022-1225-am-parent {
  flex-direction: row;
  gap: 38px;
}
.colcontents-inner {
  flex-direction: column;
  padding: 3px 28px 0 0;
}
.fjr739 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.ucopy-alt-icon9 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.copy-icon,
.fjr73-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy-icon {
  flex-direction: column;
  padding: 1px 0 0;
}
.fjr73-parent6 {
  flex-direction: row;
  gap: 8px;
}
.div17 {
  position: relative;
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}
.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.colcontents-child {
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.completed12 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.fichevron-down-icon9 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.icon3 {
  border-radius: 8px;
  background-color: rgba(94, 99, 102, 0.08);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.5px 11px;
  gap: 6px;
}
.completed13 {
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.status10 {
  border-radius: 8px;
  background-color: rgba(50, 147, 111, 0.16);
  flex-direction: row;
  padding: 4px 10px;
  text-align: center;
  color: #519c66;
}
.order-status,
.order-status-content,
.status10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-status-content {
  flex-direction: row;
  gap: 37px;
}
.order-status {
  flex-direction: column;
  padding: 1px 0 0;
  font-size: 12px;
  color: #8b8d97;
}
.colcontents9,
.table-content,
.tablerowcontainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.colcontents9 {
  width: 1209px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.table-content,
.tablerowcontainer {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.tablerowcontainer {
  padding: 12px 0;
  box-sizing: border-box;
  gap: 24px;
  color: #6e7079;
}
.table-content {
  color: #2c2d33;
}
.icon4 {
  height: 23px;
  width: 60px;
  font-family: Inter;
  font-size: 12px;
  color: #8b8d97;
}
.items-per-page,
.of-200-items {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.of-200-items {
  min-width: 122px;
}
.total-item {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
  color: #666;
}
.item-select,
.page-item,
.total-item {
  display: flex;
  align-items: flex-start;
}
.item-select {
  flex-direction: row;
  justify-content: flex-start;
  gap: 17px;
}
.page-item {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
  min-width: 637px;
  max-width: 100%;
}
.page-dropdown {
  align-self: stretch;
  height: 16px;
  font-family: Inter;
  font-size: 12px;
  color: #8b8d97;
  width: auto;
}
.icon5 {
  width: 52px;
  border-radius: 8px;
  background-color: rgba(94, 99, 102, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5px 11px;
  box-sizing: border-box;
}
.of-44-pages {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.page-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.page-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
  color: #666;
}
.actions-arrow-down {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.page-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
}
.actions-arrow-down1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.page-action1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
}
.table,
.tableheader1 {
  align-self: stretch;
  box-sizing: border-box;
}
.tableheader1 {
  border-top: 1px solid #e1e2e9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 7px 2px 8px 0;
  gap: 8px;
  max-width: 100%;
  color: #a5a8b1;
}
.table {
  border-radius: 12px;
  background-color: #fff;
  flex-direction: column;
  padding: 22px 21px 7px;
  text-align: left;
  font-size: 14px;
  color: #45464e;
  font-family: Inter;
}
.header-parent,
.main-content,
.table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header-parent {
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.main-content {
  width: 1341px;
  flex-direction: row;
  padding: 0 15px;
  box-sizing: border-box;
}
.top-nav-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 42px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #45464e;
  font-family: Inter;
}
.content,
.root,
.top-nav-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex: 1;
  flex-direction: column;
  padding: 1px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 88px);
}
.root {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .tableheader {
    padding-right: 36px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .sidebar {
    padding-top: 20px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }
  .tableheader {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .colcontents,
  .colcontents1,
  .colcontents2,
  .colcontents3,
  .colcontents4,
  .colcontents5,
  .colcontents6,
  .colcontents7,
  .colcontents8 {
    flex-wrap: wrap;
    gap: 105px;
    padding-left: 23px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .colcontents9,
  .tableheader1 {
    flex-wrap: wrap;
  }
  .tableheader1 {
    padding-left: 2px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .dashboard-summary-card,
  .dashboard-summary-card1 {
    width: calc(100% - 40px);
  }
  .table-controls,
  .table-header {
    flex-wrap: wrap;
  }
  .colcontents,
  .colcontents1,
  .colcontents2,
  .colcontents3,
  .colcontents4,
  .colcontents5,
  .colcontents6,
  .colcontents7,
  .colcontents8 {
    gap: 52px;
  }
  .page-item {
    min-width: 100%;
  }
  .top-nav-parent {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .header,
  .summaryheading {
    flex-wrap: wrap;
  }
  .empty-count,
  .empty-count2 {
    font-size: 16px;
  }
  .pending-orders {
    flex: 1;
  }
  .empty-count4 {
    font-size: 16px;
  }
  .completed-orders {
    flex: 1;
  }
  .summary-values {
    flex-wrap: wrap;
    gap: 16px;
  }
  .summaryheading1 {
    flex-wrap: wrap;
  }
  .div {
    font-size: 16px;
  }
  .all-orders-parent {
    flex: 1;
  }
  .div2,
  .div4 {
    font-size: 16px;
  }
  .completed-parent {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
    gap: 16px;
  }
  .div6,
  .empty-count6 {
    font-size: 16px;
  }
  .customer-data,
  .summarycontainer2 {
    gap: 16px;
  }
  .dashboard-summary-card2 {
    width: calc(100% - 40px);
  }
  .action1,
  .christian-dior-container,
  .christian-dior-group,
  .christian-dior-parent,
  .controls-container,
  .controls-group,
  .controls-parent,
  .controls-parent1,
  .controls-parent2,
  .frame-group,
  .frame-parent4,
  .frame-parent6,
  .francis-doe-group,
  .francis-doe-parent,
  .janet-adebayo-parent,
  .row-content,
  .samuel-johnson-group,
  .samuel-johnson-parent {
    flex-wrap: wrap;
  }
  .aug-2022-1225-am-parent {
    gap: 19px;
  }
}
